.ppdqfff {
    .shouye {
        height: 38px;
        line-height: 38px;
        padding-left: 8px;
        background-color: #ebebeb;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
        border-top: solid 1px #ebebeb;
        border-bottom: 1px solid #ccc;
        a {
            // display: block;
            text-decoration: none;
            color: #000;
            font-size: 14px;
        }
    }
    .paihang {
        font-size: 16px;
        color: #874604;
        height: 40px;
        padding-left: 10px;
        line-height: 40px;
        margin: 10px 5px;
        border: 1px solid #ccc;
        background-color: #eee;
    }
}

.nav {
    padding: 0 10px 30px;
    background-color: #eee;
    a {
        height: 40px;
        background: url('../../images/arrow1.gif') right center no-repeat;
        text-decoration: none;
        line-height: 40px;
        color: #000;
        font-size: 16px;
        display: block;
        padding-left: 0px;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
    }
}
