body {
    background: #efefef;
}

header {
    display: flex !important;
    background: #f4483e;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    a {
        display: block;
        width: 50px;
        height: 44px;
    }
    .back {
        flex: 1;
        a {
            background: url("../../images/kfc_left.jpg") no-repeat center;
        }
    }
    h1 {
        flex: 6;
        display: block;
        line-height: 44px;
        text-align: center;
        font-size: 1.1em;
        color: white;
        font-weight: 600;
        margin: 0;
    }
    .appDown {
        flex: 1;
        position: relative;
        a {
            background: url(../../images/header_app.png)no-repeat center/ 35px 35px;
        }
    }
}


/*优惠券区域*/

.coupon_content {
    background: white;
    padding-bottom: 30px;
    padding-top: 5px;
}

.coupon_model {
    padding: 0;
    li {
        float: left;
        text-align: center;
        // width: 116.333px;
        width: 33.33%;
        box-sizing: border-box;
        margin: 5px 0 0 5px;
        padding: 5px 0 5px;
        border: 1px solid #eee;
        a {
            display: block;
            font-size: .6em;
            img {
                margin: 0 auto;
                display: block;
                width: 50px;
                height: 50px;
            }
        }
    }
}


/*底部区域*/

.goods_nav_content {
    margin: 10px 10px 20px 10px;
    a {
        margin: 0 0 5px 5px;
        display: block;
        padding: 10px 10px;
        border: 1px solid #bfbfbf;
        float: left;
        font-size: .8em;
        font-weight: 500;
        img {
            vertical-align: middle;
        }
    }
}

.goods_navBm {
    height: 36px;
    background-color: #ebebeb;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: linear-gradient(top, #fff, #ebebeb);
    text-align: left;
    line-height: 36px;
    font-size: .7em;
    span:nth-of-type(1) {
        color: #666;
        padding-left: 5px;
    }
}

// 底部---------------------------------------
footer {
    .footer_top {
        background: #efefef;
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        height: 34px;
        line-height: 34px;
        .footer_log {
            width: 30%;
        }
        .footer_back {
            width: 40%;
            border: 0;
        }
        a {
            display: block;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            float: left;
            font-size: 14px;
            border-right: 1px solid #c4c4c4;
            img {
                width: 15px;
                height: 15px;
                vertical-align: middle;
                margin-top: -5px;
                margin-right: 2px;
            }
        }
    }
    .footer_bottom {
        text-align: center;
        background: #efefef;
        font-size: 12px;
        padding: 15px 0;
        color: #666;
        p {
            a:first-child {
                color: red;
            }
        }
    }
}
